@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@



<h2 > Try adding these commands to the front of the URL:</h2>
<p> /Players - where you will be able to use the GUI to execute Crud operations </p>

<h3> OR in stead, try using these: </h3>

<p> /Details/X  ( where X is the id of the player you wanna See the details of. )</p>
<p> /Edit/X  ( where X is the id of the player you wanna Edit. )</p>
<p> /Remove/X  ( where X is the id of the player you wanna Remove. )</p>




