@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>API test X</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="players"></ul>
Player ID:
<input type="text" id="PlayerId" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts {
    <script language="javascript">
        var url = "http://localhost:50056/PlayersApi/";

        // XSS = Cross Site Scripting
        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#players").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.playerId) + " " +
                            htmlEncode(item.playerAge) + " " +
                            htmlEncode(item.playerSalary) + " " +
                            htmlEncode(item.playerHeight) + " " +
                            htmlEncode(item.playerWeight) + " " +
                            htmlEncode(item.playerFieldGoal) + " " +
                            htmlEncode(item.playerName) + " " +
                            htmlEncode(item.playerPosition) + " " +
                            htmlEncode(item.playerDraftDate) +"</li>";
                        $("#players").append(html);
                    });
                });
        }

        function doAdd() {
            var newPlayer = { "PlayerAge": "20", "PlayerSalary": "100000", "PlayerHeight": "180", "PlayerWeight": "75", "PlayerFieldGoal": "100", "PlayerName": "Curry", "PlayerPosition": "PG", "PlayerDraftDate": "2020/05/11" };
            
            $.post(url + "add", newPlayer, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.operationResult);
                doListNEW();
            });
        }
        function doMod() {
            
            var newPlayer = { "Id": $("#PlayerId").val(), "PlayerAge": "20", "PlayerSalary": "100000", "PlayerHeight": "180", "PlayerWeight": "75", "PlayerFieldGoal": "100", "PlayerName": "Curry", "PlayerPosition": "PG", "PlayerDraftDate": "2020/05/11" };

            $.post(url + "mod", newPlayer, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.operationResult);
                doListNEW();
            });
        }
        function doDel() {
            $.get(url + "del/" + $("#PlayerId").val(), null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.operationResult);
                doListNEW();
            });
        }
    </script>
}